* {
    font-family: sans-serif;
    font-size: 18px;
}
body {
    margin: 0px;
    background-color: #7c8a00;
}

header {
    background-color:black;
    height: 60px;
}
.header_text {
    color: white;
    top: 50%;
    position: relative;
}
img {
    height: 30%;
    width: 30%;
    float: right;
}
div.main {
    width: 90%;
    background-color: #a7b902;
    height: 905px;
    position: relative; 
    left: 5%;
}
div.info {
    margin-left: 2%;
    margin-right: 2%;
    border: 1px solid black;
    height: 100%;
}
  