* {
    font-family: sans-serif;
    font-size: 18px;
}
body {
    margin: 0px;
    background-color: #9c5402;
    overflow-y: hidden;
}

header {
    background-color:black;
    height: 60px;
}
.header_text {
    color: white;
    top: 10%;
    position: relative;
}
img.inht {
    height: 400px;
    width: 310px;
    float: right;
    margin: 10px;
}
img.inwd {
    height: 320px;
    width: 480px;
    float: right;
    margin: 10px;

}
div.main {
    width: 90%;
    background-color: #ca6d02;
    height: 910px;
    position: relative; 
    left: 5%;
}
div.info {
    margin-left: 2%;
    margin-right: 2%;
    height: 100%;
}
h1 {
    text-align: center;
}
  
